.main {
    /*background: salmon;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 1rem;
    position: relative;
}

.img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-top: -6rem;
}

.fondo {
    background: papayawhip;
    width: fit-content;
    border-radius: 50%;
    /*margin: 1rem 1rem 1rem 4rem;*/
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

.fondo img {
    width: 16rem;
    height: fit-content;
}

.second {
    /*background: sandybrown;*/
    text-align: start;
    margin: 0.6rem 2rem;
}

.second h2:nth-child(2), p{
    font-family: 'Manrope', sans-serif;
    margin-top: 10px;
    color: rgb(230, 237, 244);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.second h2:first-child {
    font-size: 1.9rem;
    font-family: 'Noto', sans-serif;
    color: #42ad8a;
    font-weight: 700;
    text-align: center;
}

.second .buscador {
    margin-top: 3rem;
    position: relative;
}

.second .buscador input {
    width: 100%;
    padding: 1rem 5px;
    border-radius: 10px;
    border: none;
  }

  .second .buscador button {
    padding: 1rem 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.second .buscador button:hover {
  color: green;
}
/*
@media (min-width: 576px) {
    .main {
      background: seagreen;
    }
  }
  
  @media (min-width: 768px) {
    .main {
      background: sandybrown;
    }
  }
  
  @media (min-width: 992px) {
    .main {
      background: goldenrod;
    }
  }
  
  @media (min-width: 1200px) {
    .main {
      background: palevioletred;
    }
  }*/