.main {
    /*background: salmon;*/
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
    position: relative;
}

/*.img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    margin-top: -6rem;
}*/

.fondo {
    background: papayawhip;
    width: fit-content;
    border-radius: 50%;
    margin: 1rem 1rem 1rem 4rem;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

.fondo img {
    width: 25rem;
}

.second {
    /*background: sandybrown;*/
    text-align: start;
    width: 60%;
}

.second h2:nth-child(2){
    font-family: 'Manrope', sans-serif;
    margin-top: 2rem;
    color: rgb(230, 237, 244);
    font-size: 1rem;
    font-weight: 500;
}

.second h2:first-child {
    font-size: 3.4rem;
    font-family: 'Noto', sans-serif;
    color: #42ad8a;
    font-weight: 100;
}

.second h2 {
}