<!--<div class="main">
    <!--<img class="img" src="https://ld-wt73.template-help.com/wt_prod-29562/images/bg-01.svg" alt="">
    <div class="fondo">
        <img src="../../assets/img/img2-fondo.png" alt="">
    </div>
    <div class="second">
        <h2>¡Ofrecemos <span>+</span>1,0000 de puestos ahora mismo!</h2>

        <h2>¡Encuentra trabajos y oportunidades profesionales!</h2>
        <p>Encuentra trabajo en las empresas más interesantes del mundo</p>

        <div class="buscador">
            <input type="text">
            <button>Filtrar</button>
        </div>
    </div>

</div>-->

<img src="https://template.themebracket.com/taskhub/demo/images/about/about-1.png" alt="">


