<div class="menu">
    <div>
        <img src="../../assets/img/logo.png" alt="" />
    </div>
    <div class="second">
        <div class="iconoMenu" *ngIf="clic">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 128 512" (click)="clic = true">
                <path d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/>
            </svg>
        </div>
        <nav>
            <ul>
                <li class="hvr-underline-from-center">Inicio</li>
                <li class="hvr-underline-from-center">Acerca de</li>
                <li class="hvr-underline-from-center">Publicaciones</li>
                <li class="hvr-underline-from-center">Empresas</li>
                <li class="hvr-underline-from-center">Ayuda</li>
            </ul>
        </nav>

        <div class="login">
            <button>Registrate</button>
            <button>Inicio de Sesión</button>
        </div>
    </div>
</div>
