.menu {
    /*background: salmon;*/
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Noto Sans', sans-serif;*/
}

.menu div:first-child {
    width: 20%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu div:first-child img {
    width: 170px;
    cursor: pointer;
}

.menu .second {
    width: 100%;
    /*background: forestgreen;*/
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

.menu nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.menu nav ul li {
    cursor: pointer;
}

.login {
    /*background: sandybrown;*/
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.3rem;
}

button {
    color: white;
    background: transparent;
    border: solid 1px rgb(255, 255, 255);
    padding: 8px;
}

@media screen and (max-width: 935px) {
    .menu {
        /*background: sandybrown;*/
        position: relative;
    }

    .menu .second {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5rem;
        background: rgb(146, 133, 146);
    }

    .menu nav ul {
        flex-direction: column;
        text-align: start;
    }
    
    .menu .login {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }
}