<div class="menu">
    <div>
        <img src="../../assets/img/logo.png" alt="" />
    </div>
    <div class="second">
        <nav>
            <ul>
                <li class="hvr-underline-from-center">Inicio</li>
                <li class="hvr-underline-from-center">Acerca de</li>
                <li class="hvr-underline-from-center">Publicaciones</li>
                <li class="hvr-underline-from-center">Empresas</li>
                <li class="hvr-underline-from-center">Ayuda</li>
            </ul>
        </nav>

        <div class="login">
            <button>Registrate</button>
            <button>Inicio de Sesión</button>
        </div>
    </div>
</div>
